header{
  width: 100%;    
  background-color: white;
  border-bottom:solid #ededed 1px
}

* {
  margin:0px    
}

nav{
 width:100%;
 height:63px;    
 background-color: #6696e3   
}

nav a{
  float:left;
  padding: 22px 60px;
  text-decoration: none;
  color: #fff    
}

nav a:hover{
 background-color: #000;
 color: aqua     
}

main, iframe{
  width: 100%;
  height:1000px;
  background-color: beige  
}

footer{
  width: 100%;
  height:150px;
  background-color: #336699    
}

iframe{
    border:0px
}
.imgRedonda{
  border-radius: 50%;
  width: 500px;
}
.logo{
  background-color: green;
}